* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    color: #383838;
    background: #B8B1AB;
    user-select: none;
    font-family: 'Baloo Bhai', cursive;
}

#game-frame {
    text-align: center;
    user-select: none;
    padding-top: 40px;
    position: relative;
    z-index: 2000;
}

.canvas-parent {
    width: 350px;
    height: 350px;
    background: #fff;
    user-select: none;
    margin: 12px auto;
    box-shadow: 0 0 4px gray;
}

.status-bar, .rule-bar {
    background: #FFF4E1;
    margin: auto;
    padding: 8px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 4px gray;
    width: 350px;
    font-size: 20px;
}

.game-rest, .game-score, .game-result {
    display: inline-block;
    margin-right: 32px;
    font-size: 20px;
}

.game-result {
    color: #FA776D;
}

/* For PC */
@media screen and (min-width: 481px) {
    .canvas-parent {
        width: 450px;
        height: 450px;
    }

    .status-bar, .rule-bar {
        width: 450px;
        font-size: 20px;
    }

    .game-rest, .game-score, .game-result {
        margin-right: 20px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .canvas-parent {
        width: 500px;
        height: 500px;
    }

    .status-bar, .rule-bar {
        width: 500px;
        font-size: 20px;
    }

    .game-rest, .game-score, .game-result {
        margin-right: 20px;
        font-size: 20px;
    }
}

.modal {
    padding-top: 48px;
}

.modal-overlay {
    box-shadow: 0 0 4px gray;
}

.modal-content {
    background: #FFF4E1;
    font-size: 20px;
    width: 320px;
}

.modal-header {
    border-bottom: 1px solid #d6d6d6;
}

.modal-footer {
    border-top: 1px solid #d6d6d6;
}

.modal-score {
    color: #FA776D;
    text-align: right;
    float: right;
}

.ranking {
    padding: 12px auto;
}

.table {
    font-size: 16px;
    background: #fff;
    counter-reset: rowCount;
    color: #636363;
}

.table-bordered {
    border-top: solid 1px #d6d6d6;
}

table > tbody > tr {
    counter-increment: rowCount;
}

.table thead th {
    border: solid 1px #d6d6d6;
}

.table > tbody > tr > td {
    border: solid 1px #d6d6d6;
}

table > tbody > tr > td:first-child::before {
    content: counter(rowCount);
}

